<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>LJH HomePage</title>
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="css/vuejs-common.css" rel="stylesheet" type="text/css"></link>
	
	<!-- Custom CSS --> 
	<link href="css/simple-sidebar.css" rel="stylesheet"></link>
	<link href="css/common.css" rel="stylesheet"></link>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<!--google Translate-->
	<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'ko',includedLanguages: 'en,ko', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>

<div id="wrapper" class="toggled">
        <!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="/../main">Menu</a></li>
				<li><a href="/../main">메뉴 1</a></li>
				<li><a href="/../main">메뉴 2</a></li>
				<li><a href="/../">Log Out</a></li>
				<div id="google_translate_element"></div>
			</ul>
		</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div>
			<div class="cnt_visual">
	            <!-- slide  -->
	            <div class="hero_vb">    
	                <div class="hero ul_owl owl-carousel none">
	
	                    <!-- item : img -->
	                    <div class="item">
	                        <div class="im_box" style="background-image:url(../img/main_bg.jpg);">
	                            <div class="copy">
	                                <div class="vb_txt">
	                                    <div id = "main_title" class="txt_cnt">
	                                        
	                                        <p class="tit">LJH HomePage</p>
	                                        <p class="txt">다양한 정보를 제공합니다.</p>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- //item : img -->                        
	                </div>
	            </div>
	            <!-- // slide-->
	
	            <div class="inner">
	                <h4 class="h4">다양한 정보를 제공합니다.</h4>
	                <p class="txt">다양한 API정보를 제공하며, 
					<br> 샘플케이스를 제공합니다.</br></p>
	            </div>
     	    </div>
        </div>
        <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->
    </div>

	<script>
	/*
	var data = { address: '', 
				 privateKey:''
	};	
	var app = new Vue({
		  el: '#main_title',
		  
		  //데이터 등록
		  data: data ,
		  //함수 등록
		  methods: {
			  getSession : function() {
				  
					axios.get('/getSession').then(response => {
						console.log(response);
					
					});
					
				
			  }
		  }
		})
	*/
	</script>
</body>

<style>
/* visual area */

</style>

</html>
